:root {
  --text-color: #444;
  /* --background-color: #62b7ff; */
  --background-color: #f5f5f0;
  --debug-border: 1px dotted red;
}

div .debug {
  border: var(--debug-border);
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  /* margin: 0; */
  font-family: 'Inconsolata', monospace;
  /* font-family: Verdana, sans-serif; */
}

#wrapper {
  /* display: block; */
  margin: 1em auto 1em auto;
  padding: 0 1em;

  max-width: 40em;
  font-size: 1.2rem;
  min-height: 600px;

  /* border: var(--debug-border); */
}

/* NAVBAR */

header {
  /* display: flex; */
  /* align-items: center; */
  margin: 0 auto 3em auto;
  /* margin-bottom: 4em; */
  /* padding: 0 100px; */
  /* background-color: yellow; */
  /* border: 1px dotted white; */
  /* border-bottom: 1px solid white; */

  /* border: var(--debug-border); */
}

nav {
  /* margin: 4em; */
  padding: 10px 20px;
  /* justify-content: space-between; */
  /* text-align: center; */

  border: var(--debug-border);
}

nav div {
  /* display: block; */
  margin: 0 auto;
  /* background-color: yellow; */

  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;

  /* border: 1px dotted red; */
}

nav hr {
  padding: 0 1em;
}

nav ul {
  margin: 0 auto;
  padding: 0 1em;

  list-style-type: none;
  display: flex;
  justify-content: space-between;

  /* gap: 5em; */

  /* background-color: yellow; */
  /* border: 1px dotted red; */
}

/* nav ul li  */
a {
  color: var(--text-color);
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  /* color: var(--text-color); */
  /* font-size: 1.6rem; */
  position: relative;
}

a.active::before {
  position: absolute;
  content: '';
  width: 35%;
  height: 1px #444;
  border-bottom: 2px solid;
  bottom: -6px;
}
*/

/* a::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  border-bottom: 2px solid #777777;
  bottom: -6px;
  transition: width 0.3s;
}

/* HERO */

#main {
  /* margin: 6em auto 0 auto; */
  padding: 20px 20px;
  /* background-color: gray; */
  max-width: 700px;

  border: var(--debug-border);
}

code {
  background-color: white;
}

.article-row {
  display: flex;
  margin: 0.1em 0;
  max-width: 35em;

  /* border: var(--debug-border); */
}

.article-row .date {
  display: inline-block;
  margin-right: 0.7em;
  padding-top: 0.35em;

  min-width: 12em;
  text-align: right;

  font-size: 0.8rem;
  /* font-style: italic; */

  /* border: var(--debug-border); */
}

.article-row a {
  font-size: 1.1rem;
  font-weight: 500;
  /* word-spacing: 0.01em; */

  /* align-content: center; */
  /* align-items: center; */

  /* border: var(--debug-border); */
}

.articles {
  margin-bottom: 53em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.1em;

  /* border: var(--debug-border); */
}

p {
  /* text-align: justify; */
}

/* FOOTER */

footer {
  /* border: 1px dotted red; */
  padding: 0.5em;
  background-color: yellow;

  border: var(--debug-border);
}
