:root {
  --text-color: #454545;
  --background-color: #dcdcc3;
  --active-a-underline-color: #444;

  --debug-border: 1px dotted red;
  --debug-background-color: aqua;
}

html {
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  font-family: 'Inconsolata', monospace;
}

img {
  max-width: 100%;
}

/* .wrapper is equal to .main */
.wrapper {
  margin: 1em auto 1em auto;
  max-width: 35em;

  /* background-color: var(--debug-background-color); */
}

/**********************************************************************/
/******************************* NAVBAR *******************************/
/**********************************************************************/

header {
  margin-bottom: 4em;

  /* background-color: var(--debug-background-color); */
}

nav {
  margin: 0 auto;
  max-width: 13em;
  /* justify-content: space-between; */

  /* background-color: var(--debug-background-color); */
}

nav div {
  margin: 0 auto;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;

  /* background-color: var(--debug-background-color); */
}

nav hr {
  padding: 0 1em;
}

nav ul {
  margin: 0 auto;
  padding: 0 1em;

  list-style-type: none;
  display: flex;
  justify-content: space-between;

  /* gap: 2em; */
}

/* nav ul li  */
a {
  color: var(--text-color);
}

nav a {
  text-decoration: none;
  position: relative;

  /* background-color: var(--debug-background-color); */
}

nav ul li a.active:before {
  position: absolute;
  content: '';
  width: 0.7em;
  height: 1px var(--text-color);
  border-bottom: 2px solid;
  bottom: -4px;

  /* border-color: var(--debug-background-color); */
  /* background-color: var(--debug-background-color); */
}

nav ul li a:before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  border-bottom: 2px solid #777777;
  bottom: -4px;
  transition: width 0.1s;
}

nav ul li a:hover:before {
  width: 0.7em;
}

/**********************************************************************/
/******************************* HERO *********************************/
/**********************************************************************/

.articles-section {
  padding: 0 0.2em;

  /* background-color: var(--debug-background-color); */
}

.articles-section h3 {
  padding-left: 1em;
}

/* THIS IS FOR DESKTOP, BUT NOT FOR MOBILE */
/* .articles-list {
  padding-left: 3em;
} */

code {
  background-color: white;
}

.article-row {
  display: flex;
  margin: 0.1em 0;
  max-width: 35em;

  /* background-color: var(--debug-background-color);/ */
}

.article-row .date {
  display: inline-block;
  margin-right: 0.7em;
  padding-top: 0.22em;

  min-width: 8em;
  text-align: right;

  font-size: 0.9rem;
  /* font-size: clamp(1rem, 0.9rem, 0.9rem); */

  /* background-color: var(--debug-background-color); */
}

.article-row a {
  /* font-size: 1.1rem; */
  font-size: clamp(0.9rem, 1.1rem, 1.2rem);
  font-weight: 500;
  word-spacing: -0.4ch;

  /* background-color: var(--debug-background-color);/ */
}

.articles-section {
  margin-bottom: 53em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.1em;
}

.test-article {
  padding: 0 0.2em;
}

/**********************************************************************/
/******************************* FOOTER *******************************/
/**********************************************************************/

footer {
  padding: 0.5em;
  font-size: 0.7em;
  font-weight: 600;

  /* background-color: var(--debug-background-color); */
}
